{% extends "paper_questions/base.html" %}

{% block title %} home {% endblock %}

{% block heading %} home {% endblock %}

{% block content %}
<ul role="list" class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-4">
    {% for subject, confidences in confidences.items %}
    <li class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
        <h2 class="px-4 py-5 sm:px-6">{{ subject }}</h2>
        <div class="px-4 py-5 sm:p-6">
            <ul class="grid grid-cols-[repeat(auto-fill,_minmax(0.875rem,_1fr))] gap-1 w-full">
                {% for c in confidences %}
                <a href="{% url 'paper_questions:question' 'all' 'all' subject c.0 %}">
                    <li class="w-3.5 h-3.5
                                            {% if c.1 == 0 %} bg-gray-200
                                          {% elif c.1 == 1 %} bg-red-400
                                          {% elif c.1 == 2 %} bg-amber-400
                                          {% elif c.1 == 3 %} bg-green-400
                                          {% endif %} rounded" title="{{ c.0 }}">
                    </li>
                </a>
                {% endfor %}
            </ul>

        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}