asgiref==3.8.1
beautifulsoup4==4.13.4
black==25.1.0
click==8.1.8
Django==5.1.7
gunicorn==23.0.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
python-dotenv==1.1.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
whitenoise==6.9.0
