<!doctype html>
<html lang="en" class="h-full bg-gray-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pgrind</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="h-full">
    <div class="min-h-full">
        <header class="bg-white shadow-sm">
            {% include "pgrind/components/navbar.html" %}
        </header>
        <main>
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                {% block content %} {% endblock %}
            </div>
        </main>
    </div>
</body>

</html>