{% extends "pgrind/base.html" %}

{% block content %}
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
    <div class="px-4 py-5 sm:p-6">
        <ul class="flex flex-wrap justify-center gap-1 w-full max-w-md mx-auto">
            {% for attempt in attempts %}
            <li class="w-3.5 h-3.5
                                            {% if attempt.confidence == 0 %} bg-gray-200
                                          {% elif attempt.confidence == 1 %} bg-red-400
                                          {% elif attempt.confidence == 2 %} bg-amber-400
                                          {% elif attempt.confidence == 3 %} bg-green-400
                                          {% endif %} rounded" title="{{ attempt.days_ago_text }}">
            </li>
            {% endfor %}
        </ul>
        <img src="{{ problem.question_image.url }}" />
    </div>

    <div class="px-4 py-4 sm:px-6 text-center">
        <span class="isolate inline-flex rounded-md shadow-xs">
            <a type="button" aria-label="solution"
                class="relative inline-flex items-center rounded-l-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white ring-1 ring-gray-300 ring-inset hover:bg-indigo-500 focus:z-10"
                href="{% url 'pgrind:solution' problem.id %}">solution</a>
        </span>
    </div>
</div>
{% endblock %}