{% extends "pgrind/base.html" %}

{% block content %}
<div class="flex justify-center">
    <form aria-label="upload" method="POST" enctype="multipart/form-data" action="{% url 'pgrind:upload' %}"
        class="w-1/3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.subject.label_tag }} {{ form.subject }} {{ form.subject.errors }}
        </div>
        <div>
            {{ form.question_file.label_tag }} {{ form.question_file }} {{ form.question_file.errors }}
        </div>
        <div>
            {{ form.solution_file.label_tag }} {{ form.solution_file }} {{ form.solution_file.errors }}
        </div>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}